
{% extends 'nav_bar.html' %}
{% block title %}rank_query{% endblock %}
{% block body %}



<h3>查询排名范围</h3>
<form method="POST" action="/receive_query_rank">
 {% csrf_token %}
    从:<input type="number" name="down_strict">
    到:<input type="number" name="up_strict">
    <input type="submit" value="提交">
    当前客户端:
    <input type="text" name="current_client">
</form>
<table border="1">
    <thead>
    <tr>
        <th>client</th>
        <th>score</th>
        <th>Rank</th>
    </tr>
    </thead>

    {% for i in rank_data %}
    <tr>
        <td>{{ i.client }}</td><td>{{ i.score }}</td><td>{{ i.rank }}</td>
    </tr>

    {% endfor %}
    <tr>
        <td>{{ current_client.client }}</td><td>{{ current_client.score }}</td><td>{{ current_client.rank }}</td>
        <td>当前排名</td>
    </tr>

</table>

{% endblock %}